{% extends "base.html" %}
{% load static %}
{% block mainsection%}


    <!--  Start -->
    <div class="container-xxl py-5">
        
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{{displaycourse.course_img.url}}" alt="" style="object-fit: cover;height: 70% !important;width: 100% !important;">
                    </div>
                   
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Course</h6>
                    <h3 class="mb-4">{{displaycourse.name}}</h3>
                    <h4 class="mb-0"> {{displaycourse.description}}</h4>
                </div>
                <div>
                    <h4 class="mb-0" style="margin-top: -6em;"> Created By {{displaycourse.faculty_name}}</h4>
                    <h3 class="mb-0">₹ {{displaycourse.price}}</h3>
                </div>
                <div> <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a></div>
            </div>
        </div>
    </div>
    <!--  End -->


{% endblock mainsection %}